// Colors
$color-primary-main: #f2390c;
$color-primary-black: #111214;
$color-secondary-grey-100: #a7a8a4;
$color-secondary-grey-10: #f7f7f7;
$color-text-black: #111214;
$color-text-grey: #a9a9aa;
$color-text-white: #ffffff;
