@use "../../assets/styles/main" as *;

.letsWork {
    width: 100%;
    height: 31rem;
    background-color: $color-secondary-grey-10;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8.7rem;
        gap: 8.5rem;

        .trused {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 9rem;
        }

        .letsWorkBlock {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            width: 114rem;
            height: 33.5rem;
            color: $color-text-white;
            background-color: $color-text-black;
            padding: 2rem;

            h3 {
                font-size: $heading-40;
                font-weight: $font-weight-regular;
                font-family: $font-primary;
                text-transform: capitalize;
                text-align: center;
            }

            .downloadBtn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $font-secondary;
                font-size: 1.4rem;
                font-weight: $font-weight-semibold;
                color: $color-secondary-grey-100;
                gap: .8rem;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                z-index: 1;

                .btn {
                    font-size: 2.5rem;
                    color: $color-primary-main;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .letsWork {
        .container {
            padding: 8.7rem 2rem;
            .trused {
                width: 100%;
                height: auto;
                gap: 3rem;
                flex-wrap: wrap;
            }
            .letsWorkBlock{
                width: 100%;
                padding: 5.1rem 8rem;
                height: auto;
            }
        }
    }
}