@use "../base/colors" as *;
@use "../base/typography" as *;

.contactBtn {
    font-family: $font-secondary;
    font-size: 1.2rem;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    background-color: transparent;
    width: 9.2rem;
    height: 3.9rem;
    border: 1px solid $color-primary-main;
    border-radius: .4rem;
    color: $color-primary-main;
    transition: box-shadow 3ms ease-in-out;
    padding: 1.2rem 1.6rem;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    @media screen and (max-width: 576px) {
        display: none;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }

    @media screen and (max-width: 992px) {
        display: none;
    }

    &:hover {
        box-shadow: 0px 0px 20px $color-primary-main;
        text-shadow: 0px 0px 20px $color-primary-main;
        cursor: pointer;
    }
}

.letsTalkBtn {
    width: 10.6rem;
    height: 4.7rem;
    font-family: $font-secondary;
    font-size: 1.2rem;
    font-weight: $font-weight-semibold;
    background-color: $color-primary-main;
    color: $color-text-white;
    border: 1px solid $color-primary-main;
    border-radius: .4rem;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:hover {
        box-shadow: 0px 0px 20px $color-primary-main;
        cursor: pointer;
    }
}

.contcFormBtn {
    width: 14.8rem;
    height: 4.7rem;
    font-family: $font-secondary;
    font-size: 1.2rem;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    background-color: $color-primary-main;
    color: $color-text-white;
    border: 1px solid $color-primary-main;
    border-radius: .4rem;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:hover {
        box-shadow: 0px 0px 20px $color-primary-main;
        cursor: pointer;
    }
}