@use '../../assets/styles/main' as *;

.aboutMe {
    width: 100%;
    height: 59rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 6.5rem;
        padding: 9rem 0;

        .image {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 6.1rem;
            width: 52.1rem;
            height: 41.2rem;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;

            .imageOne {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                flex-direction: column;
                gap: 3.5rem;
                img {
                    width: 23rem;
                    height: 25.58rem;
                }
                .title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1.2rem;
                    font-family: $font-secondary;
                    font-size: 1.4rem;
                    font-weight: $font-weight-semibold;
                    line-height: 2rem;
                    width: 15.1rem;
                    height: 9.2rem;
                    text-align: right;
                    .orange {
                        color: $color-primary-main;
                        font-size: $heading-64;
                        font-weight: $font-weight-regular;
                        font-family: $font-primary;
                    }
                }
            }

            .imageTwo {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                gap: 3.5rem;
                img {
                    width: 23rem;
                    height: 25.58rem;
                }

                .title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1.2rem;
                    font-family: $font-secondary;
                    font-size: 1.4rem;
                    font-weight: $font-weight-semibold;
                    line-height: 2rem;
                    width: 15.1rem;
                    height: 9.2rem;
                    text-align: left;
                    .orange {
                        color: $color-primary-main;
                        font-size: $heading-64;
                        font-weight: $font-weight-regular;
                        font-family: $font-primary;
                    }
                }
            }


        }

        .titleAndDesc {
            display: flex;
            align-items: flex-start;
            width: 52.1rem;
            height: 28.4rem;
            gap: 3rem;

            .orange {
                font-size: $heading-64;
                font-weight: $font-weight-semibold;
                color: $color-primary-main;
                font-family: $font-primary;
                letter-spacing: .4rem;
            }

            .desc {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                font-family: $font-secondary;
                font-size: 1.4rem;
                font-weight: $font-weight-medium;
                line-height: 3.2rem;
                gap: 2.3rem;

                h4 {
                    font-family: $font-primary;
                    font-size: $heading-40;
                    font-weight: $font-weight-regular;
                    text-transform: uppercase;
                    color: $color-text-black;
                }

                p {
                    color: $color-text-grey;
                    letter-spacing: .2rem;
                    text-align: justify;
                }
            }
        }
    }
}